<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/app.css">

<h1>JOIN US</h1>

<p>Enter your email to join <strong><%=data%></strong> others on our waitlist. We are 100% not a cult. </p>

<form method="POST" action="/register">
    <input type="text" name="email" class="form" placeholder="Enter your email">
    <button>Join Now</button>
</form>
